.profile-container {
  display: flex; 
  align-items: center; 
  gap: 20px; 
  width: 100%; 
  box-sizing: border-box; 
  padding: 20px; 
  border-radius: 12px;

  border: 1px solid transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease; 

  background-color: #0a0d15;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin-top: 30px; 
}

/* 2. Media Query for tablets and smaller desktops */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
  }
}


.profile-container:hover {
  background-color: #0f131f;
  border-color: #bababa; 

}

.profile-picture {
  width: 110px; 
  height: 110px; 
  border-radius: 50%; 
  object-fit: cover; 
}

.profile-description {
    flex-grow: 1; 
}

.profile-description p {
  margin: 0;
  margin-bottom: 5px;
  color: #dcdcdc;
  line-height: 1.5;
}

