.footer-container {
  margin-top: 60px;
  padding: 20px 0;

  border-top: 1px solid #333;

  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-links {
  display: flex;
  justify-content: center; /* Centers the icons */
  align-items: center;
  gap: 30px;
}

.social-icon {
  width: 30px;
  transition: transform 0.2s ease;
}

.footer-social-icon:hover {
  transform: scale(1.2);
}

.credits {
    margin: 0; 
    padding: 0; 

    font-size: 18px; 
}
