.project-card {
    position: relative;
    height: 100%; 
    padding: 20px; 
    background-color: #0a0d15;
    border: 1px solid transparent; 
    border-radius: 0px; 
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease; 
}

.project-card-link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Sits on top of the card content */
}

.project-card:hover {
    background-color: #0f131f;
    border-color: #bababa; 
    transform: scale(1.02);
}

.project-name {
    text-align: center; 
    margin-top: 0; 
    color: #ffffff; 
}

.project-content {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px; 
}

.project-description {
    color: #dcdcdc; 
    margin: 0; 
    margin-bottom: 10px;
}

@media (min-width: 1450px) {
  .project-content {
    flex-direction: row; 
  }

  .project-image {
    width: 320px;
    flex-shrink: 0;
  }
}

.inline-link {
  position: relative; 
  color: #a7d8ff; 
  text-decoration: underline;
  transition: color 0.2s ease;
  z-index: 2; 
}

.inline-link:hover {
  color: #ffffff; 
}

.project-tag-and-desc-container {
    display: flex; 
    flex-direction: column; 
    align-self: stretch;
}

.project-tags-container {
    margin-top: auto;
    display: flex; 
    flex-wrap: wrap; 
    gap: 8px; 
}

.project-tag {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 10px;
  font-size: 1.1em;
  font-weight: 600;
  color: #ffffff;
  transition: opacity 0.3 ease;

  border-width: 1px; 
  border-color: #9f9f9f;
  border-style: solid;
  border-radius: 4px;
}

.tag-icon {
  font-size: 1.1em;
}
