
.projects-display-container {
  padding-left: 30px; 
  padding-right: 30px; 
  padding-bottom: 60px;
  padding-top: 40px;  
}

.projects-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr; /* This creates exactly one column */
  
  column-gap: 20px;
  row-gap: 20px; 
}
/* 2. Media Query for tablets and smaller desktops */
@media (min-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

/* 3. Media Query for larger screens */
@media (min-width: 1450px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
}
