html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.hero-container,
.main-content {
  scroll-snap-align: start;
}

.main-content {
  height: 100dvh;
  overflow-y: auto;
}

@media (max-width: 768px) {
  html {
    scroll-snap-type: none;
  }

  .main-content {
    height: auto; /* Allow the content to determine its own height */
    overflow-y: visible; /* Disable the internal scrollbar */
  }
}

